<div class='container'>
<h1>Stupid Coaching</h1>
<form action="answer" data-turbo="false">
  <input type="text" class="form-control" name="message">
  <button input type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
